.pink {
  color: rgb(235, 132, 222);
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blue {
  color: rgb(117, 215, 226);
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}
